<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>I will do it</h1>
      <p>The goal list around you.</p>
      <p>
        <%= link_to "See what you can do", @client.authorize_url, :class => "btn btn-primary btn-large"%>
      </p>
    </div>
  </div>
</div>