<% content_for :head do %>
    <script type="text/javascript">
        $(document).ready(function() {
            fade_elements($('.photo'), 0);

            $("#will input").keydown(function(event){
                if( event.keyCode == 13 ) {
                    var $clone = $('.todo').first().clone();
                    $clone.html($('#will input').val());
                    $('.the_list').prepend($clone);
                    $clone.show();

                    $('#will input').val('');
                }
            });
        });
    </script>
<% end %>

<div class="center_container">
  <h1 class="header center">This is you.</h1>
  <% @photos.each do |photo| %>
      <div class="photo center" style="display: none;">
        <%= image_tag photo[:src], :class => "top_spacer4" %>
      </div>
  <% end %>

  <div id="will" style="display: none;" class="center">
    <div class="clearfix top_spacer4">
      <%= image_tag @pp_small, :class => "float_left" %>
      <h1 class="float_left left_spacer2">I will....</h1>
      <input type="text" style="display: none;" class="input-xlarge left_spacer2 float_left">
    </div>
  </div>

  <h1 class="todo" style="display: none;"></h1>
  <div class="the_list">

  </div>
</div>