<% content_for :head do %>
    <script type="text/javascript">
        $(document).ready(function() {
            fade_elements($('.photo'), 0);
        });
    </script>
<% end %>

<div class="center_container">
  <h1 class="header center">This is you.</h1>
  <% @photos.each do |photo| %>
      <div class="photo center" style="display: none;">
        <%= image_tag photo[:src], :class => "top_spacer2" %>
      </div>
  <% end %>

  <div style="display: none;" class="center">
    <div class="clearfix">
      <h1 class="float_left">I will...</h1><form class="well form-search">
      <input type="text" class="input-xlarge left_spacer2 float_left"></form>
    </div>
  </div>

</div>